@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    background-color: #d8beff;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: whitesmoke;
}

.login {
    background-color: #00195e;
    width: 400px;
    height: 400px;
    position: static;
    flex-direction: column;
    margin-top: 100px;
    border-radius: 15px;
    padding: 20px;
}

.login h1{
    background-color: #00195e;
}

.login form{
    background-color: #00195e;

}

.elementos-login{
    flex-direction: column;
    margin: 20px;
    background-color: #00195e;
}

.elementos-login input{
    margin: 10px;
    background-color: whitesmoke;
    padding: 10px;
    padding-right: 40px;
    padding-left: 40px;
    border: none;
}

.elementos-login label{
    margin-left: -200px;
    background-color: #00195e;
}

.login button{
    width: 200px;
    height: 40px;
    margin-top: 20px;
    font-size: 20px;
    background-color: #d8beff;
    border-radius: 15px;
    border: none;
    color: black;
    font-weight: bold;
}